<head>
    <title>Crear Personas</title>
</head>
<body id="nn">
<table id="tablabr">
    <tr>
        <td>
            <button pButton type="button" class="p-button-raised p-button-rounded" id="botonr" (click)="cambiarPagina()">Listar Personas</button>
        </td>
    </tr>
</table>
<!--
<table border="0">
            
    <br/>
    <tr>
        <td>
            <label id="label" for="inf">
                Nombre
            </label> 
        </td>
        <td>
            <span class="p-float-label">
                <input id="float-input-titulo" type="text" pInputText [(ngModel)]="persona.nombre"> 
                
            </span>
            <br/>
        </td>
        
    </tr>
    <tr>
        <td>
            <label id="label" for="inf">
                Apellido
            </label> 
        </td>
        <td>
            <span class="p-float-label">
                <input id="float-input-autor" type="text" pInputText [(ngModel)]="persona.apellido"> 
                
            </span>
        </td>
    </tr>
    <br/>
    <tr>
        <td>
            <label id="label" for="inf">
                Cédula
            </label> 
        </td>
        <td>
            <span class="p-float-label">
                <input id="float-input-fecha" type="text" pInputText [(ngModel)]="persona.cedula"> 
                
            </span>
        </td>
    </tr>
    <br/>
    <tr>
           
        <td>
            <label id="label" for="cargar">Email</label>                                
        </td>
        <td>
        
            <span class="p-float-label">
                <input id="float-input-fecha" type="text" pInputText [(ngModel)]="persona.email"> 
                
            </span>
        
            <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize"></textarea>
            
        </td>
    </tr>  
     
    <tr>
        <td colspan="2" align="center">
            <br/>
                <button pButton type="button" class="p-button-raised p-button-rounded" (click)="crearPersona()">Guardar</button>
        </td>
    </tr>

-->
</body>
<router-outlet></router-outlet>
